a[href^="https://www.google.com"]{
  color: green;
}

a[href^="https://www.link-group.eu"]{
  color: red;
}

#second-div p:nth-child(2n) {
  color: red;
}

#second-div p:nth-child(2n+1) {
  color: blue;
}

#first-div p:nth-child(2)::after,
#first-div p:nth-child(3)::after 
{
  content: " NEW";
  color: yellow;
}


p:nth-last-child(2):hover {
  font-style: italic;
}